<!DOCTYPE html>
<html>
<head>
  <title>Projectx</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "/bootstrap/css/bootstrap.min.css"%>
</head>
<body>

	<div class="navbar">
	  <div class="navbar-inner">
	    <a class="brand" href="/">Project X</a>
	    <ul class="nav">
	      <li><%= link_to "Home", root_path %></a></li>
	      <li><%= link_to "Products", products_path %></a></li>
	    </ul>
	  </div>
	</div>

<%= yield %>

</body>
</html>
